## Terraform ##

# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

## Bicep / ARM ##

# VS Code Bicep LSP cache
bicep-cache/

# Sensitive params              
*.bicep.params.json       

## Kubernetes / AKS ##
helm-release.yaml
*.kubeconfig

# Alt names
*.kubeconfig.*

# Gatekeeper audit cache (if generated)
audit-results.json

## Python Functions ##
__pycache__/.env

# Local venv
dotenv secrets.venv/

# Alt venv
env/                     

## Node Functions ##
node_modules/
npm-debug.log*
yarn-error.log*

# Comment out if you *want* to commit lockfile
package-lock.json        

## Logs ##
*.log
*.tmp
*.bak

## Security Artefacts ##
sbom*.json
trivy*.json
infracost*.json

# If generating keys, may be a case *for* commiting public
cosign.pub              # if you generate keys, keep public? optional

# *Never* commit private key
cosign.key              

## IDE & OS Clutter ##
.vscode/.idea/

# macOS
*.code-workspace.DS_Store

# Windows
Thumbs.db

# Vim swap
*.swp                    

## Diagrams / Media ##
*.vsdx

# Raw draw.io files (consider committing if useful)
*.drawio                

# Avoid large GIF files - consider using Git LFS
*.gif
